<!DOCTYPE html>
<html>
    
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Melting Pot</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<body>
    <div id="cookbook" class="container">
        <div class="row">
            <div class="col-md-6 text-center">
                <h2>Unused Ingredients</h2>
                <img v-for="ingredient in unincludedIngredients" v-bind:src="getImagePath(ingredient)" v-on:click="toggleIngredient(ingredient)" width="100px" height="100px"/>
            </div>
        
            <div class="col-md-6 text-center">
                <h2>Included Ingredients</h2>
                <img v-for="ingredient in includedIngredients" v-bind:src="getImagePath(ingredient)" v-on:click="toggleIngredient(ingredient)" width="100px" height="100px"/>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h2>Available Recipes</h2>
                <div v-for="recipe of recipes" v-bind:Id="recipe[0]" v-if="recipe[1]">
                    <h3>{{recipe[0]}}</h3>
                    <img v-for="ingredient in recipe[2]" v-bind:src="getImagePath(ingredient)" width="75px" height="75px"/>
                </div>
            </div>
        </div>
    </div>
</body>

</html>

<script src="https://unpkg.com/vue"></script>
<script>
    var app = new Vue({
        el: '#cookbook',
        data: {
            // included ingredients, starts off as list of total ingredients
            unincludedIngredients:["Lettuce",
            "Fish",
            "Noodles"
            ],
            // array of currently included ingredients by name
            includedIngredients:[],
            // array of recipes, [0] is recipe name/identifier, [1] is boolean representing whether or not it is currently being displayed, [2] is array of ingredients by name
            recipes:[
                ["Fish Noodles", true, ["Fish", "Noodles"]],
                ["Lettuce Fish", true, ["Lettuce", "Fish"]],
                ["Lettuce Noodles", true, ["Lettuce", "Noodles"]],
                ["Lettuce Fish Noodles", true, ["Lettuce", "Fish", "Noodles"]],
            ],
        },
        methods: {
            /**
             * Prunes any recipes that exclude selected ingredients (using global variables so no parameters)
             */
            pruneUnselectedIngredients: function () {
                for (var recipe of this.recipes){
                    var display = true;
                    for (var ingredient of this.includedIngredients){
                        if(!recipe[2].includes(ingredient)){
                            display = false;
                            break;
                        }
                    }
                    recipe[1] = display;
                }
            },
            /**
             * Toggles ingredient between using/not using and checks what recipes to display
             * @param string ingredient representing ingredient to toggle
             */
            toggleIngredient: function(ingredient) {
                if(this.includedIngredients.includes(ingredient)){
                    this.unincludedIngredients.push(ingredient);
                    this.includedIngredients.splice(this.includedIngredients.indexOf(ingredient), 1);
                }
                else{
                    this.includedIngredients.push(ingredient);
                    this.unincludedIngredients.splice(this.unincludedIngredients.indexOf(ingredient), 1);
                }
                this.pruneUnselectedIngredients();
            },
            /**
             * Gets image path using name
             * @param string name representing name of image to find
             * @return string path full image path
             */
            getImagePath: function(name){
                return "Images/" + name + ".jpg";
            },
        }
    })
</script>
